
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #3a3a3a;
}


#error {
  width: 100%;
  height: 10%;
  display: grid;
  justify-items: center;
  align-items: center;
}

#errorMsg {
  width: 23%;
  text-align: center;
  margin: 0;
  padding: 5px;
  font-size: 12px;
  font-weight: bold;
  color: #8a0000;
  border: 1px solid #8a0000;
  background-color: #e58f8f;
  opacity: 0;
}


.loginForm {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
}

.field-outline::placeholder {
  color: #3a3a3a;
}

.field-outline {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}

#submit {
  width: 50%;
  padding: 7px;
  margin-top: 35px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
}


.login-page{
    overflow: hidden;
    background-color:rgb(0, 195, 255);
}
.login{
    width: 100%;
    height : 100vh;
    min-height: max-content
}
.bank{
    font-family: Montserrat;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    margin: 35px 0 35px 50px;
}
.login-bg{
    width: 421.7px;
    height: 453.4px;;
    border-radius: 5.5px;
    margin-left: 85%;
    background-color: #ffffff;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.15);
}
.login-heading{
    font-size: 19.8px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.7px;
    text-align: center;
    color: #444444;
}
.field-outline{
    width: 332.2px;
    height: 55.1px;
    border-radius: 2.2px;
    background-color: #e5e9ed;
    border: solid 0.6px rgba(208, 208, 208, 0.5);
    font-family: 'Lato';
    font-size: 15.4px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #787e8c;
    padding: 17.6px 22px 17.6px 22px
}
.button-bg{
    margin-top: 36px;
    width: 212.2px;
    height: 53.8px;
    border-radius: 2.2px;
    background-color: #7e1e2b;
    font-family: 'Open Sans';
    font-size: 16.5px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.1px;
    text-align: left;
    color: #ffffff;
    /* margin-left: 23%; */
}